<div *ngIf="supplierEdit.value">
    <h2>{{supplierEdit.value.SupplierName | uppercase}} Details</h2>
    <div><span>Supplier ID : </span>{{supplierEdit.value.Id}}</div>
    <br />
    <form [formGroup]="supplierEdit" (ngSubmit)="saveSupplier()">
        <div>
            <input type="hidden" class="form-control" placeholder="id" formControlName="Id">

            <label for="SupplierName">Name</label>
            <input class="form-control" placeholder="name" formControlName="SupplierName">
            <br />

            <label for="SupplierAddress">Address</label>
            <input class="form-control" placeholder="address" formControlName="SupplierAddress" />
            <br />

            <label for="RegisterDate">RegisterDate</label>
            <input class="form-control" placeholder="register date" formControlName="RegisterDate" />
            <br />

            <label for="Supplier Type">Supplier Type</label>
            <select class="form-control" formControlName="SupplierTypeId">
                <option *ngFor="let suppt of suppliertypes" value={{suppt.SupplierTypeId}}>{{suppt.SupplierTypeName}}
                </option>
            </select>
        </div>
        <br />
        <button class="btn btn-secondary me-1" type="button" (click)="goBack()">go back</button> &nbsp;
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
</div>