<!-- <div class="hero-add" *ngIf="hero">
    <h2>Add new hero</h2>
    <div class="">
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.Name" placeholder="name">
    </div>
    <div class="">
        <label for="hero-address">Hero address: </label>
        <input id="hero-address" [(ngModel)]="hero.Address" placeholder="address">
    </div> -->

<!-- (click) passes input value to add() and then clears the input -->
<!-- <button type="button" class="add-button" (click)="add();">
        Add hero
    </button>
</div> -->