<div *ngIf="customerEdit.value">
    <h2>{{customerEdit.value.CustomerName | uppercase}} Details</h2>
    <div><span>Customer ID : </span>{{customerEdit.value.Id}}</div>
    <br />
    <form [formGroup]="customerEdit" (ngSubmit)="saveCustomer()">
        <div>
            <input type="hidden" class="form-control" placeholder="id" formControlName="Id">

            <label for="CustomerName">Name</label>
            <input class="form-control" placeholder="name" formControlName="CustomerName">
            <div *ngIf="customerEdit.get('CustomerName').invalid && customerEdit.get('CustomerName').errors.required"
                class="text-danger mt-2 ms-1">
                <small>Customer Name is required.</small>
            </div>
            <div *ngIf="customerEdit.get('CustomerName').invalid && customerEdit.get('CustomerName').errors.maxlength"
                class="text-danger mt-2 ms-1">
                <small>Customer Name must be maximum 20 characters long.</small>
            </div>
            <div *ngIf="customerEdit.get('CustomerName').invalid && customerEdit.get('CustomerName').errors.minlength"
                class="text-danger mt-2 ms-1">
                <small>Customer Name must be minimum 5 characters long.</small>
            </div>
            <br />

            <label for="RegisterDate">RegisterDate</label>
            <input class="form-control" placeholder="register date" formControlName="RegisterDate" />
            <br />

            <label for="CustomerAddress">Address</label>
            <input class="form-control" placeholder="address" formControlName="CustomerAddress" />
            <br />

            <label for="CustomerType">Customer Type</label>
            <select class="form-select" formControlName="CustomerTypeId">
                <option *ngFor="let custt of customertypes" value={{custt.CustomerTypeId}}>{{custt.CustomerTypeName}}
                </option>
            </select>
        </div>
        <br />
        <button class="btn btn-secondary text-black me-3" type="button" (click)="goBack()">go back</button> &nbsp;
        <button class="btn btn-secondary text-black" type="submit">Submit</button>
    </form>
</div>