<h2>Add New Customer</h2>
<form [formGroup]="customerAdd" (ngSubmit)="submitCustomer()" #formDir="ngForm">
    <div>
        <label for="CustomerName">Name:</label>
        <input class="form-control" placeholder="customer name" formControlName="CustomerName" />
        <div
            *ngIf="customerAdd.get('CustomerName').invalid && customerAdd.get('CustomerName').errors.required"
            class="text-danger mt-2 ms-1"
        >
            <small>Customer Name is required.</small>
        </div>
        <div
            *ngIf="customerAdd.get('CustomerName').invalid && customerAdd.get('CustomerName').errors.maxlength"
            class="text-danger mt-2 ms-1"
        >
            <small>Customer Name must be maximum 20 characters long.</small>
        </div>
        <div
            *ngIf="customerAdd.get('CustomerName').invalid && customerAdd.get('CustomerName').errors.minlength"
            class="text-danger mt-2 ms-1"
        >
            <small>Customer Name must be minimum 5 characters long.</small>
        </div>
        <br />

        <label for="CustomerAddress">Address:</label>
        <input class="form-control" placeholder="customer address" formControlName="CustomerAddress" />
        <br />

        <label for="Customer Type">Customer Type</label>
        <select class="form-select" formControlName="CustomerTypeId">
            <option value="0" selected disabled>Select Customer Type</option>
            <option *ngFor="let custt of customertypes" value="{{ custt.CustomerTypeId }}">
                {{ custt.CustomerTypeName }}
            </option>
        </select>
    </div>
    <br />
    <button (click)="goBack()" class="btn btn-secondary me-3">Go Back</button>
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
