<h2>Change Password</h2>

<div *ngIf="message" class="alert alert-info">{{ message }}</div>

<form [formGroup]="changePassword" (ngSubmit)="submitAdmin()" #formDir="ngForm">
    <div>
        <label for="OldPassword">Old Password:</label>
        <input class="form-control" type="password" placeholder="Old Password" formControlName="OldPassword" />
        <div
            *ngIf="changePassword.get('OldPassword').invalid && changePassword.get('OldPassword').errors.required"
            class="text-danger mt-2 ms-1"
        >
            <small>Old Password is required.</small>
        </div>
        <div
            *ngIf="changePassword.get('OldPassword').invalid && changePassword.get('OldPassword').errors.minlength"
            class="text-danger mt-2 ms-1"
        >
            <small>Password must be minimum 8 characters long.</small>
        </div>
        <br />

        <label for="Password">New Password:</label>
        <input class="form-control" type="password" placeholder="New Password" formControlName="Password" />
        <div
            *ngIf="changePassword.get('Password').invalid && changePassword.get('Password').errors.required"
            class="text-danger mt-2 ms-1"
        >
            <small>Password is required.</small>
        </div>
        <div
            *ngIf="changePassword.get('Password').invalid && changePassword.get('Password').errors.minlength"
            class="text-danger mt-2 ms-1"
        >
            <small>Password must be minimum 8 characters long.</small>
        </div>
        <br />

        <label for="Confirm Password">Confirm Password:</label>
        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="ConfirmPassword" />
        <div *ngIf="changePassword.hasError('passwordMismatch')" class="text-danger mt-2 ms-1">
            <small>Password do not match.</small>
        </div>
        <br />
    </div>
    <br />
    <button (click)="goBack($event)" class="btn btn-secondary me-3">Go Back</button>
    <button type="submit" [disabled]="changePassword.invalid" class="btn btn-secondary">Change Password</button>
</form>
