<h2>Reset Password</h2>
<form [formGroup]="adminResetPassword" (ngSubmit)="submitAdmin()" #formDir="ngForm">
    <div>
        <label for="Password">Password:</label>
        <input class="form-control" type="password" placeholder="Password" formControlName="Password" />
        <div
            *ngIf="adminResetPassword.get('Password').invalid && adminResetPassword.get('Password').errors.required"
            class="text-danger mt-2 ms-1"
        >
            <small>Password is required.</small>
        </div>
        <div
            *ngIf="adminResetPassword.get('Password').invalid && adminResetPassword.get('Password').errors.minlength"
            class="text-danger mt-2 ms-1"
        >
            <small>Password must be minimum 8 characters long.</small>
        </div>
        <br />

        <label for="Confirm Password">Confirm Password:</label>
        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="ConfirmPassword" />
        <div *ngIf="adminResetPassword.hasError('passwordMismatch')" class="text-danger mt-2 ms-1">
            <small>Password do not match.</small>
        </div>
        <br />
    </div>
    <br />
    <button (click)="goBack($event)" class="btn btn-secondary me-3">Go Back</button>
    <button type="submit" [disabled]="adminResetPassword.invalid" class="btn btn-secondary">Change Password</button>
</form>
